//template for downloads
%script#template-download{ :type => 'text/x-tmpl' }
	%img{ :src => 'http://placehold.it/150x150' }
	
= form_for @listing, { :url => review_user_listings_path(current_user.id), :method => :post, :html => { :class => 'form' } } do |f|
	- if action_name != 'new' then
		= f.hidden_field :id
	%input{ :type => 'hidden', :name => 'action_taken', :value => action_name }
	.form-group
		%label Title
		= f.text_field :title, :class => 'form-control', :placeholder => 'Put Your Title Here'
	.form-group
		%label Address
		= f.text_field :address, :class => 'form-control', :placeholder => 'Put Your Address Here'
	.form-group
		%label Price
		.input-group
			%span.input-group-addon RM
			= f.number_field :price, :class => 'form-control'
			%span.input-group-addon .00
	.form-group
		%label Area
		= f.select :district_id, District.all.collect{ |d| [d.name, d.id] }, {}, { :class => 'form-control' }
	.form-group
		%label Property Type
		= f.select :dwelling_kind_id, DwellingKind.all.collect{ |d| [d.name, d.id] }, {}, { :class => 'form-control' }
	.form-group
		%label Description
		= f.text_area :description, :rows => '3', :placeholder => 'Describe Your Property', :class => 'form-control'
	.form-group
		%label Picture (max 10)
		%p
			Drop Files in this page or
			%span.btn.btn-default.fileinput-button
				%span choose a file
				%input#picture-upload-stuff{:type => 'file', :name => 'listing_pictures[]'}
	.form-group
		#picture-drop-zone
		.row#listing-pictures
			- unless @listing_pictures_id.nil? then
				- @listing_pictures_id.each do |id|
					= render :template => 'listing_pictures/thumb.template', :locals => { :'@listing_picture' => ListingPicture.find(id) }
	.form-group
		%a.btn.btn-default{ :href => cancel_user_listings_path(current_user) } Cancel
		%button.btn.btn-primary{ :type => 'submit' } Review
