.col-xs-12
	//if @listing.listing_pictures.count == 0 then
	- if @listing_pictures.nil? || @listing_pictures.count == 0 then
		.well No Pictures Yet
	- else
		.carousel.slide#picture-carousel{ :'data-ride' => 'carousel' }
			%ol.carousel-indicators
				- @listing_pictures.count.times do |i|
					%li{ :data => { :target => '#picture-carousel', :'slide-to' => i }, :class => i == 0 ? 'active' : '' }
			.carousel-inner{ :role => 'listbox' }
				- @listing_pictures.count.times do |i|
					.item{ :class => i == 0 ? 'active' : '' }
						%img{ :src => @listing_pictures[i].avatar.large.url}
			%a.left.carousel-control{ :href => '#picture-carousel', :role => 'button', :'data-slide' => 'prev' }
				%span.glyphicon.glyphicon-chevron-left{ :'aria-hidden' => 'true' }
				%span.sr-only Previous
			%a.right.carousel-control{ :href => '#picture-carousel', :role => 'button', :'data-slide' => 'next' }
				%span.glyphicon.glyphicon-chevron-right{ :'aria-hidden' => 'true' }
				%span.sr-only Next
		
.col-xs-12.col-md-8
	%h1.page-header 
		- if @listing.title.empty? then
			.well Title Required
		- else
			= @listing.title
			%small 
				by
				%a{ :href => user_listings_path(@user) } #{@user.name}
	- if @listing.description.empty? then
		.well Description Required
	- else
		= simple_format  @listing.description, {:class => 'lead' }
.col-xs-12.col-md-4
	%h2.page-header Price
	%p.lead #{ number_to_currency @listing.price, :unit => 'RM'}
	%h2.page-header Contact
	%img{ :src => @user.image }
	%dl
		%dt Email
		%dd #{ @user.email or 'None' }
		%dt Phone
		%dd #{ @user.phone_area_code } #{ @user.phone or 'None' }
.col-xs-12
	%h2.page-header Address
	- if @listing.address.empty? then
		.well Address Required
	- else
		%p #{ @listing.address } 
.col-xs-12
	%h2.page-header Additional Info
	%dl.dl-horizontal
		%dt Area
		%dd #{ link_to District.find_by_id(@listing.district_id).name, district_listings_path(@listing.district_id) } 
		%dt Dwelling Kind
		%dd #{ DwellingKind.find_by_id(@listing.dwelling_kind_id).name }
