.container
	.row
		.col-xs-12.col-md-6
			%h1.page-header Edit Profile
			= form_for @user, { :class => 'form' } do |f|
				.form-group.col-xs-12
					%label Email
					= f.text_field :email, { :class => 'form-control', :disabled => true }
				.form-group.col-xs-12
					%label Alternate Email
					= f.text_field :alt_email, { :class => 'form-control' }
				.form-group.col-xs-2
					%label Code
					= f.text_field :phone_area_code, { :class => 'form-control' }
				.form-group.col-xs-10
					%label Phone
					= f.number_field :phone, { :class => 'form-control' }
				%button.btn.btn-primary{ :type => 'button' } Update
