!!!
%html
%head
	%title Thisprop
	= stylesheet_link_tag 'http://yui.yahooapis.com/pure/0.5.0/pure-min.css', media: 'all'
	= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', media: 'all'
	= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css', media: 'all'
	= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true 

	= csrf_meta_tags 

%body
	.header
		.home-menu.pure-menu.pure-menu-open.pure-menu-horizontal
			%a.pure-menu-heading{ :href => "" } ThisProp
			%ul
				%li
					%a{ :href => '#' } Buy
				%li
					%a{ :href => '#' } Rent
				%li
					%a{ :href => '#' } Sell
				%li
					- if user_signed_in? then
						%a{ :href => '#' } FirstName LastName 
						%ul
							%li
								%a{ :href => '#' } My Account
							%li.pure-menu-separator
							%li
								%a{ :href => '#' } My Listings
							%li
								%a{ :href => '#' } Wish List
					- else
						%a{ :href => '#', :data => { :toggle => 'modal', :target => '#login-box' } } Login
	.pure-g
		.pure-u-1
			= yield

	.modal.fade#login-box{ :tabindex => -1, :role => 'dialog' }
		.modal-dialog
			.modal-content
				.modal-header
					%button.close{ :type => 'button', :data => { :dismiss => 'modal' } } &times;
					%h4.modal-title Login
				.modal-body
					%p login stuff here
					= link_to 'Sign in w/ Facebook', user_omniauth_authorize_path(:facebook)
	// javscript at the end
	= javascript_include_tag 'application', 'data-turbolinks-track' => true 
	= javascript_include_tag  'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'
